---
---

<div id="delete-dialog" class="dialog-overlay">
  <div class="dialog-content">
    <div class="dialog-header">
      <h2 class="dialog-title">Deseja deletar o produto?</h2>
    </div>
    <div class="dialog-actions">
      <button
        class="btn btn-cancel"
        title="Cancelar"
        onclick="closeDeleteDialog()"
      >
        Cancelar
      </button>
      <form id="delete-form">
        <button class="btn btn-confirm" title="Confirmar" type="submit">
          Confirmar
        </button>
      </form>
    </div>
  </div>
</div>
