---
const { title } = Astro.props;
---

<div id="edit-dialog" class="dialog-overlay">
  <div class="dialog-content">
    <div class="dialog-header">
      <button
        class="dialog-btn-back"
        title="Voltar"
        onclick="closeEditDialog()"
      >
        <i class="fas fa-arrow-left"></i>
      </button>
      <h2 id="dialog-title" class="dialog-title">{title}</h2>
    </div>
    <slot />
  </div>
</div>
