{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Funcionários</title>
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
  </head>
  <body>
    <header class="header">
      {% if request.user.is_staff or request.user.is_superuser %}
        <i class="header-icon fas fa-bars"></i>
      {% endif %}
      <h1 class="store-name">Nome do estabelecimento</h1>
      <i class="header-icon fas fa-user"></i>
    </header>
    {% if request.user.is_staff or request.user.is_superuser %}
      <nav id="dropdown-menu" class="dropdown hidden">
        <ul>
          <li><a href="./orders">Comandas</a></li>
          <li><a href="./products">Produtos</a></li>
          <li><a href="./employees">Funcionários</a></li>
        </ul>
      </nav>
    {% endif %}
    <div id="user-dropdown" class="dropdown hidden">
      <ul>
      <li>{{ request.user.username }}</li>
      <li><a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt" style="margin-right: 0.5rem;"></i>Sair</a></li>
      </ul>
    </div>

    <main class="main-content">
      <div class="section-header">
        <h2 class="section-title">Funcionários</h2>
        <div class="actions-section">
          <form action="">
            <div class="search">
              <i class="fas fa-search"></i>
              <input
                type="text"
                name="q"
                placeholder="Buscar..."
                value="{{ query }}"
              />
            </div>
          </form>
        </div>
      </div>

      <section class="main-list">
        <table>
          <thead>
            <tr>
              <th>Login</th>
              <th>Nome</th>
              <th>E-mail</th>
              <th>Permissões</th>
            </tr>
          </thead>
          <tbody>
            {% for user in users %}
              <tr>
                <td>
                  {{ user.username }}
                </td>
                <td>
                  {{ user.get_full_name|default:"-" }}
                </td>
                <td>
                  {{ user.email|default:"-" }}
                </td>
                <td>
                  {% if user.is_superuser %}
                    Administrador
                  {% elif user.is_staff %}
                    Gerente
                  {% else %}
                    Comum
                  {% endif %}
                </td>
              </tr>
            {% empty %}
              <tr>
                <td colspan="4">Nenhum atendente encontrado.</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </section>
    </main>

    <script src="{% static 'js/script.js' %}"></script>
  </body>
</html>
